.poll {
  display: none;
}

.poll .responses li{
  margin-bottom: 15px;
  /*overflow: hidden;*/
  position: relative;
  width: 100%;
}

.poll > .responses > li > .poll-answer-text {
  position:relative;
  z-index: 2;
  width: calc(100% - 60px);

  font-size: 30px;
  padding:20px 30px;
  border: 1px solid #000;
  border-radius: 50px;
}

.poll > ul > li > .poll-percentage {
  display: block;
  position: absolute;
  left: 1px;
  top: 0;
  z-index: 1; 
  transition: width 0.5s, height 0.5s;
  width: calc(100% + 1px);
  height: 100%;
  border-radius: 50px;
  opacity: 0.9;    
}

.poll > ul > li:nth-child(4n+1) > .poll-percentage {
  background-color: #105CFD;
}
.poll > ul > li:nth-child(4n+2) > .poll-percentage {
  background-color: #A17127; 
}
.poll > ul > li:nth-child(4n+3) > .poll-percentage {
  background-color: #F93315; 
}
.poll > ul > li:nth-child(4n+4) > .poll-percentage {
  background-color: #FFD700; 
}

.poll .correct .poll-answer-text {
  font-weight: bold;
}
.poll .correct .poll-answer-text::before {
  content: "→ ";
}

.poll .voters{
  float:right;
}